* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
span {
	color: crimson;
}
/*hides horizontal bar*/
body {
overflow-x: hidden;
}
.main {
    min-height: 100vh;
    width: 100%;
}
.section-title {
    font-size: 4rem;
    font-weight: 300;
    color: black;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: .2rem;  
    text-align: center;
    padding-top: 50px;
}
/*Header*/
/*End Header*/
/*Landing*/
#landing {
	background-image:linear-gradient(rgba(17, 126, 112, 0.75), rgba(0, 88, 255, 0.45)), url(../images/background.jpg);
	background-size: cover;
	background-position: top center;
	position: relative;
}
#landing .main {
    display: flex;
    align-items: center;
    justify-content: center;
}
#landing .landing {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-start;
}
#landing h1 {
    color: white;
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
}
/*End Landing*/
/*Portfolio*/
#portfolio {
    background: #aa4b6b;  /
    background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); 
    background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);
    font-family: 'Roboto', sans-serif;
}
#portfolio h1, h2, p {
    color: white;
}
#portfolio h2, p {
    text-align: center;
}
#portfolio h2 {
    padding-top: 25px;
}
#portfolio .main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}
/*End Portfolio*/

/*Contact*/
.contact-form {
   /* flex-direction: column;*/
   /* display: flex;*/
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.map-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive h2 {

}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.form-control{
    width: 100%;
}
/*End Contact*/
/*Footer*/
#footer p {
    color: black;
}
/*End Footer*/